<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myItems.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/popup.css" type="text/css" /> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <%- include('partials/_header') %>
    <main>
      <div class="body-header">
        <label id="description_text">
          <p></p>
          <p> </p>
          <h3></h3>
        </label>
      </div>
      <!-- filter form -->
      <div class="div_filter_form">
        <form method="POST" action="/search" class="filter-form">
          <h3>Price Filter</h3>
          <!-- <label>Minimum Price</label> -->
          <input type="number" name="minPrice" id="min-price" placeholder="Minimum Price"></input>
          <!-- <label>Maximum Price</label> -->
          <input type="number" name="maxPrice" id="max-price" placeholder="Maximum Price"></input>
          <button type="submit" value="submit" id="search-submit">Filter</button>
        </form>
      </div>
      <!-- poted items -->
      <div class="item_grid">
        <% for (let post of posts) { %>
          <div class="item">
            <p class="post_title">
              <%= post.title %>
            </p>
            <img id="<%= post.id %>" class="item_img" src="<%= post.photo_url %>"
              alt="description:<%= post.description %>" />
            <!-- The Modal -->
            <footer class="item_footer">
              <p>
                <%= ("$" + post.price ) %>
              </p>
            </footer>
          </div>
          <% } %>
      </div>
      <!-- many to one model -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" />
        <div id="caption">
        </div>
        <div class="myItemsButtons">
          <td>
            <form id="AddToFavourites" method="POST" action="/favourites/<%= posts.id %>">
              <input type="submit" value="Favourites" class="btn btn-outline-danger">
            </form>
            <input id=messageButton type="button" value="Send Message">
        </div>
      </div>
    </main>
    <%- include('partials/_footer') %>
      </body>

</html>
