<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/myItems.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<%- include('partials/_header') %>
<main style="margin: 1em;">
<body>
  <container class="search">
    <div style="align-items: center;"><form method="GET" action="/search" id="filter-form" style="display: flex; flex-direction: column; justify-content: center;">
      <label>Price Filter</label>
      <label>Minimum Price</label>
      <input type="number" name="minPrice" id="min-price"></input>
      <label>Maximum Price</label>
      <input type="number" name="maxPrice" id="max-price"></input>
      <button type="submit" value="submit" id="search-submit">Filter</button>
    </form></div>

  </container>
  <div class="addPost">
    <div>
      <h3>Featured Posts</h3>
    </div>
    <% for (let post of posts) { %>
    <div id = "textbox">
      <div class = "postInfo">
        <p id = "postTitle"> <%= post.title %></p>
        <p id = "postDescription"> <%= post.description %></p>
        <img id = "postImg" src="<%= post.photo_url %>"/>
      </div>
          <div class = "myItemsButtons">
            <input id = favouriteButton type="button" value="FAVOURITE">
            <input id = messageButton type="button" value="Send Message">
          </div>
        <footer>
          <p><%= ("$" + post.price / 100) %></p>
        </footer>
    </div>
    <% } %>
  </div>
</main>

  <footer>
    <p>Copyright &copy; <script> document.write(new Date().getFullYear()); </script>, Platform</p>

  </footer>
</body>
</html>




