<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myItems.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/onClickFunctions.js"></script>

  </head>
  <%- include('partials/_header') %>
    <main class="test">
      <div class="body-header">
        <div>
          <h3 id = "favouritesTextUnderline">Add Posts</h3>
        </div>
      </div>
      <form class="addPostContent" action="/myItems" method="POST">
        <div class = "outerTextInputs">

          <div class="textInputs">
            
            <div>
              <label for="text">Title:</label>
              <input class="form-control" type="text" name="title" style="width: 300px; margin: 1em">
            </div>
            <div class = columnName>
            <label for="category">Choose a Category:</label>
            <select name="category">
              <option value="Sports Equipment">Sports Equipment</option>
              <option value="Pets">Pets</option>
              <option value="Electronics">Electronics</option>
              <option value="Hair Products">Hair Products</option>
              <option value="Musical Instruments">Musical Instruments</option>
              <option value="Books">Books</option>
              <option value="Automotive">Automotive</option>
            </select>
          </div>
          <div>
            <label for="price">Price: </label>
            <input class="form-control" name="price" style="width: 300px; margin: 1em">
          </div>
          <div>
            <label for="item_description">Description: </label>
            <input class="form-control" type="text" name="item_description" style="width: 300px; margin: 1em">
          </div>
            <div>
              <label for="photo_url">Photo Url:</label>
              <input class="form-control" type="text" name="photo_url" style="width: 300px; margin: 1em">
            </div>
  
           
  
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

      <div class="addPost">
        <div>
          <h3 id = "myFavouritesPosts">My Posts</h3>
        </div>
        <% for (let post of posts) { %>
          <% if (post.active===true) { %>
            <div id="textbox">
              <div class="postInfo">
                <p id="postTitle">
                  <%= post.title %>
                </p>
                <img id="postImg" src="<%= post.photo_url %>" />
                <p id="postDescription">
                  <%= post.item_description %>
                </p>
              </div>
              <p>
                <%= ("$" + post.price) %>
              </p>
              <footer>
                <div class="myItemsButtons">
                  <td>
                    <form method="POST" action="myItems/<%= post.id %>/sold">
                      <input type="submit" value="Mark as Sold" class="btn btn-outline-primary">
                    </form>
  
                  <td>
                    <form method="POST" action="myItems/<%= post.id %>/delete">
                      <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
  
  
                </div>
              </footer>
            </div>
            <% } %>
              <% } %>
      </div>

      <div class = "soldItems">

        <div>
          <h3 id = "myFavouritesPosts" >SoldItems</h3>
        </div>
        <% for (let post of posts){ %>
          <% if (post.active===false) { %>
            <div id="textbox">
              <div class="postInfo">
                <p id="postTitle">
                  <%= post.title %>
                </p>
                <p id="postDescription">
                  <%= post.item_description %>
                </p>
                <img id="postImg" src="<%= post.photo_url %>" />
              </div>
              <p>
                <%= ("$" + post.price) %>
              </p>
              <footer>
                <div class="myItemsButtons">
  
                  <td>
                    <form method="POST" action="myItems/<%= post.id %>/delete">
                      <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
                </div>
              </footer>
            </div>
            <% } %>
              <% } %>
      </div>
    </main>
    <%- include('partials/_footer') %>

      </body>

</html>
